fastapi==0.93.0
ipython==8.11.0
joblib==1.2.0
matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
plotly==5.13.1
pydantic==1.10.6
python-dotenv==1.0.0
scikit_learn==1.2.2
scipy==1.10.0
seaborn==0.12.2
streamlit==1.20.0
sox==1.4.1
tqdm==4.65.0
watchdog==3.0.0
websockets==10.4
tensorflow
PyAudio
pyannote.audio
torchvision==0.12.0
torchaudio==0.11.0
streamlit
uvicorn
streamlit_webrtc